* {
    margin: 0;
    padding: 0;
  

}

.container{

    width: 100%;
    min-height: 150vh;
    background-color: black;
    
}



.logo{
   
    margin: 30px;
    cursor: pointer; 
    
}

header{
    
    width: 95%;
    position:fixed;
    z-index: 100;
}

h1{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    background-color: rgb(230, 223, 223);
    padding: 8px;
    margin-left: 150px;
  }

  
  form
   {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border: 2px solid rgb(156, 153, 153);
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 150px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: 'Dosis', sans-serif;
  }

  input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;

}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;

}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="submit"] {
    background-color: rgb(13, 189, 101);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
  
  input[type="submit"]:hover {
    background-color: rgb(2, 75, 38);
}

  

iframe{

    margin: 0 auto;
    width: 350px;
    height: 350px;
    margin-top: 50px;
    position:relative;
    float:right;
    margin-right: 250px;
    
}

footer{
    color: white;
    font-size: 12px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    background-color: black;
    padding: 18px;
      
}

.whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:34px;
    z-index:100;
 }
  
  .whatsapp-icon {
    margin-top:13px;
}

  
input[type="button"]{
    float:right;
    margin-right: 170px;
    background-color: rgb(13, 189, 101);
    color:white;
    padding: 8px;
    border-radius: 12px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

input[type="button"]:hover{
    cursor: pointer;
    filter:contrast(2.0);
}