* {
    margin: 0;
    padding: 0;
  

}

.container{

    width: 100%;
    min-height: 150vh;
    background-color: black;
    
}



.logo{
  
    margin: 30px;
    cursor: pointer; 
    
}

header{
    
    width: 95%;
    position:fixed;
    z-index:100vh;
}

h1{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    background-color: rgb(230, 223, 223);
    padding: 8px;
    margin-left: 150px;
  }

nav{
    font-family: 'Dosis', sans-serif;
    font-weight:lighter;
    color: white;
    margin-top: 50px;
    margin-left: 150px;
    padding: 20px;
    
}

.p1{
    font-family: 'Dosis', sans-serif;
    color: rgb(13, 189, 101);
    font-size: 16px;
    margin-right: 300px;
    
}

.desc {
    font-weight: bold;
    color: white;
}

.gallery {
    text-align: center;
}

p2{
    font-family: 'Dosis', sans-serif;
    color: white;
    font-size: 17px;
    margin-left: 150px;
      
}

p3{
    font-family: 'Dosis', sans-serif;
    color: rgb(13, 189, 101);
    font-size: 16px;
    margin-left: 150px;

}


footer{
    color: white;
    font-size: 12px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    background-color: black;
    padding: 18px;
  
}

input[type="button"]{
    float:right;
    margin-right: 30px;
    background-color: rgb(13, 189, 101);
    color:white;
    padding: 8px;
    border-radius: 12px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

input[type="button"]:hover{
    cursor: pointer;
    filter:contrast(2.0);
}